.templates {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  background-color: #f3f3f1;
}

.templates .templates-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.templates-container .templates-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.templates-container .templates-content .templates-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}

.templates-container .templates-content .templates-header h1 {
  font-family: "Poppins-Bold";
  font-size: 3.5em;
  text-align: center;
  color: #780016;
}

.templates-container .templates-content .templates-header p {
  font-family: "Poppins-Regular";
  font-size: 1.5em;
  color: #000000;
  margin-top: 20px;
}

.templates-container .templates-content .templates-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin: 40px 0;
}

.templates-container
  .templates-content
  .templates-list
  .template-card-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.templates-container
  .templates-content
  .templates-list
  .template-card-button-wrapper
  .template-card {
  height: 725px;
  width: 100%;
  border-radius: 32px;
  border: 1px solid rgb(224, 226, 217);
}

.templates-container
  .templates-content
  .templates-list
  .template-card-button-wrapper
  .template-card
  .template-card-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.templates-container
  .templates-content
  .templates-list
  .template-card-button-wrapper
  .template-card
  .template-card-header
  .profile-banner {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 999px;
  width: 72px;
  height: 72px;
  font-size: 1.5em;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.templates-container
  .templates-content
  .templates-list
  .template-card-button-wrapper
  .template-card
  .template-card-header
  h2 {
  font-family: "Poppins-Bold";
  font-size: 1.2em;
  margin-bottom: 10px;
}

.templates-container
  .templates-content
  .templates-list
  .template-card-button-wrapper
  .template-card
  .template-card-header
  p {
  font-family: "Poppins-Regular";
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
}

.templates-container
  .templates-content
  .templates-list
  .template-card-button-wrapper
  .template-card-content
  .template-card-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.templates-container
  .templates-content
  .templates-list
  .template-card-button-wrapper
  .template-card-content
  .template-card-links
  .template-card-link-item {
  font-family: "Poppins-Regular";
  padding: 16px 44px;
  width: 75%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}

.templates-container
  .templates-content
  .templates-list
  .template-card-button-wrapper
  .template-card-content
  .template-card-links
  .template-card-link-item:hover {
  transition: background-color 0.3s ease;
}

.templates-container
  .templates-content
  .templates-list
  .template-card-button-wrapper
  button {
  background-color: #d8a3d8;
  border-radius: 999px;
  padding: 25px 50px;
  color: #000000;
  cursor: pointer;
  font-size: 1em;
}

.templates-container
  .templates-content
  .templates-list
  .template-card-button-wrapper
  button:hover {
  background-color: #e0b3e0;
  transition: background-color 0.3s ease;
}

/* Media Queries */
@media all and (max-width: 1440px) {
  .templates-container .templates-content .templates-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 1024px) {
  .templates-container .templates-content .templates-header h1 {
    font-size: 2.5em;
  }

  .templates-container .templates-content .templates-header p {
    font-size: 1.2em;
  }

  .templates-container .templates-content .templates-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
