.intro {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  position: relative;
}

.intro .intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #254f1a;
  height: 100%;
  width: 100%;
}

.intro .intro-container .intro-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}

.intro .intro-container .intro-content .intro-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item
  .intro-content-item-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item
  .intro-content-item-title
  h2 {
  font-family: "Poppins-Bold";
  font-size: 4.5em;
  line-height: 1.2;
  color: #d2e823;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item
  .intro-content-item-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item
  .intro-content-item-subtitle
  p {
  font-family: "Poppins-Medium";
  font-size: 1.5em;
  color: #d2e823;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-top: 40px;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item-input
  input {
  width: 225px;
  height: auto;
  padding: 25px 50px 25px 15px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  border: none;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item-button
  button {
  border-radius: 999px;
  padding: 35px 50px;
  background-color: #e9c0e9;
  color: #000000;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item-button
  button:hover {
  background-color: #d8a3d8;
  transition: background-color 0.3s ease;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item-button
  a {
  text-decoration: none;
  color: inherit;
}

.intro .intro-container .intro-content .intro-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Media Queries */
@media all and (max-width: 1440px) {
  .intro
    .intro-container
    .intro-content
    .intro-content-left
    .intro-content-item
    .intro-content-item-title
    h2 {
    font-size: 3.5em;
  }
}

@media all and (max-width: 1024px) {
  .intro
    .intro-container
    .intro-content
    .intro-content-left
    .intro-content-item:nth-child(1) {
    gap: 20px;
  }

  .intro-content-right {
    display: none !important;
  }
}

@media all and (max-width: 768px) {
  .intro
    .intro-container
    .intro-content
    .intro-content-left
    .intro-content-item
    .intro-content-item-title
    h2 {
    font-size: 2.5em;
  }

  .intro
    .intro-container
    .intro-content
    .intro-content-left
    .intro-content-item
    .intro-content-item-subtitle
    p {
    font-size: 1.2em;
  }

  .intro
    .intro-container
    .intro-content
    .intro-content-left
    .intro-content-item:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
  }

  .intro
    .intro-container
    .intro-content
    .intro-content-left
    .intro-content-item-button
    button {
    padding: 35px 25px;
    font-size: 0.8em;
  }
}

@media all and (max-width: 425px) {
  .intro .intro-container .intro-content {
    width: 90%;
  }
}
