.header {
  display: flex;
  height: 10vh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}

.header .header-container .header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header .header-container .header-content .header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-left: 2.5vw;
}

.header .header-container .header-content .header-left .header-left-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 40px;
}

.header
  .header-container
  .header-content
  .header-left
  .header-left-content
  .header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header
  .header-container
  .header-content
  .header-left
  .header-left-content
  .header-logo
  .header-left-content-item {
  padding: 11px 16px;
}

.header
  .header-container
  .header-content
  .header-left
  .header-left-content
  .header-logo
  .header-left-content-item
  a {
  text-decoration: none;
  color: inherit;
}

.header
  .header-container
  .header-content
  .header-left
  .header-left-content
  .header-left-content-item
  .header-logo
  h1 {
  font-family: "Poppins-Bold";
  font-size: 2em;
}

.header .header-container .header-content .header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-right: 2.5vw;
}

.header .header-container .header-content .header-right .header-right-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  .header-right-content-item {
  padding: 25px 50px;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  .header-right-content-item
  a {
  text-decoration: none;
  color: inherit;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  div:first-child {
  background-color: #1e2330;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  div:first-child:hover {
  background-color: #262c3b;
  transition: background-color 0.3s ease;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  div:nth-child(2) {
  background-color: #1e2330;
  border-radius: 999px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  div:nth-child(2):hover {
  background-color: #262c3b;
  transition: background-color 0.3s ease;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  .header-menu-icon {
  display: none;
  background-color: #1e2330;
  color: #ffffff;
  border-radius: 999px;
  padding: 20px 25px;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  .header-menu-icon
  i {
  font-size: 1.5em;
}
