.username-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.username-container .username-panel-header {
  height: 52px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1e2330;
  padding: 0 2.5vw;
}

.username-container .username-panel-header .username-panel-title {
  font-family: "Poppins-Bold";
  font-size: 1em;
  color: #ffffff;
}

.username-container .username-panel-header .username-panel-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Poppins-Regular";
  font-size: 14px;
  color: #ffffff;
}

.username-container .username-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 64px 0;
}

.username-container .username-content .username-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.username-container .username-content .username-header .username-banner {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 999px;
  width: 96px;
  height: 96px;
  font-size: 1.75em;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username-container .username-content .username-header .username-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  font-family: "Poppins-Bold";
  margin-bottom: 20px;
}

.username-container .username-content .username-header .description-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Poppins-Regular";
  margin-bottom: 20px;
}

.username-container .username-content .username-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.username-container .username-content .username-links .username-link-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Poppins-Regular";
  font-size: 14px;
  padding: 24px 44px;
  width: 620px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  min-height: 64px;
}

.username-container .username-content .username-links .username-link-item a {
  width: 100%;
  display: inline-block;
}

.username-container
  .username-content
  .username-links
  .username-link-item:hover {
  transition: background-color 0.3s ease;
}

.username-container .username-content .username-footer {
  font-family: Inter, sans-serif;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
  text-align: center;
  padding: 16px;
  border-radius: 999px;
  margin-top: 20px;
  cursor: pointer;
}

.username-container .username-content .username-footer:hover {
  background-color: rgb(255, 255, 255, 1);
  transition: background-color 0.3s ease;
}

.username-container .username-content .username-footer a {
  text-decoration: none;
  color: inherit;
  font-family: "Poppins-Semibold";
  font-size: 16px;
}

/* Media Queries */
@media all and (max-width: 768px) {
  .username-container .username-content .username-links .username-link-item {
    width: 420px;
  }
}

@media all and (max-width: 425px) {
  .username-container .username-content .username-links .username-link-item {
    width: 320px;
  }
}

@media all and (max-width: 375px) {
  .username-container .username-content .username-links .username-link-item {
    width: 280px;
  }
}
