.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f3f3f1;
}

.dashboard .dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dashboard .dashboard-container .dashboard-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dashboard .dashboard-container .dashboard-content .dashboard-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 256px;
  background-color: #ffffff;
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.dashboard
  .dashboard-container
  .dashboard-content
  .dashboard-header-body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100% - 256px);
  margin-left: auto;
}

.dashboard-body {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  width: 100%;
}

/* Media Queries */
@media all and (max-width: 1440px) {
  .dashboard .dashboard-container .dashboard-content .dashboard-sidebar {
    display: none;
  }

  .dashboard
    .dashboard-container
    .dashboard-content
    .dashboard-header-body-wrapper {
    width: 100%;
  }
}
