.footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #4f2173;
}

.footer .footer-container .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 64px;
}

.footer .footer-container .footer-content .footer-content-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer
  .footer-container
  .footer-content
  .footer-content-top
  .footer-content-item:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin: 40px 0;
}

.footer
  .footer-container
  .footer-content
  .footer-content-top
  .footer-content-item
  .footer-content-item-title
  h2 {
  font-family: "Poppins-Black";
  font-size: 3.5em;
  color: #e9c0e9;
  text-align: center;
}

.footer
  .footer-container
  .footer-content
  .footer-content-top
  .footer-content-item-input
  input {
  width: 225px;
  height: auto;
  padding: 25px 50px 25px 15px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
  border: none;
}

.footer
  .footer-container
  .footer-content
  .footer-content-top
  .footer-content-item-button
  button {
  border-radius: 999px;
  padding: 35px 50px;
  background-color: #e9c0e9;
  color: #000000;
  cursor: pointer;
  font-size: 1em;
}

.footer
  .footer-container
  .footer-content
  .footer-content-top
  .footer-content-item-button
  button:hover {
  background-color: #d8a3d8;
  transition: background-color 0.3s ease;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item-button
  a {
  text-decoration: none;
  color: inherit;
}

.footer .footer-container .footer-content .footer-content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
  background-color: #ffffff;
  padding-top: 64px;
  padding-bottom: 32px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  gap: 32px;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5em;
  height: 100%;
  width: 80%;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(1)
  div {
  display: flex;
  flex-direction: column;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(1)
  div
  h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-family: "Poppins-Bold";
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(1)
  div
  a {
  font-family: "Poppins-Regular";
  font-size: 1.2em;
  margin: 10px 0;
  width: fit-content;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(1)
  div
  a:hover {
  text-decoration: underline;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  width: 80%;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(2)
  div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(2)
  div
  a {
  background-color: #1e2330;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  padding: 25px 50px;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(2)
  div:nth-child(1)
  a:nth-child(2) {
  border-radius: 999px;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(2)
  div:nth-child(2)
  a {
  border-radius: 999px;
  padding: 15px 20px;
  font-size: 1.5em;
}
