.dashboard-body .dashboard-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: 100%;
  min-height: 90vh;
  margin-right: auto;
  padding: 0 3vw;
}

.dashboard-body .dashboard-link-container .dashboard-link-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-control {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-control
  .dashboard-link-control-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-control
  .dashboard-link-control-item
  button {
  width: 550px;
  background-color: #4f2173;
  border-radius: 999px;
  padding: 25px 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-control
  .dashboard-link-control-item
  button:hover {
  background-color: #5a2b8c;
  transition: background-color 0.3s ease;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px 32px;
  margin-bottom: 20px;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item
  .dashboard-link-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item
  .dashboard-link-item-content
  .dashboard-link-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item
  .dashboard-link-item-content
  .dashboard-link-item-info
  h3 {
  margin-bottom: 10px;
  font-family: "Poppins-Bold";
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item
  .dashboard-link-item-content
  .dashboard-link-item-info
  a {
  font-family: "Poppins-Regular";
  width: 100%;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item
  .dashboard-link-item-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item
  .dashboard-link-item-actions
  button {
  border-radius: 999px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  padding: 0 12px;
}

/* Media Queries */
@media all and (max-width: 1440px) {
  .dashboard-body .dashboard-link-container {
    width: 65%;
  }
}

@media all and (max-width: 1024px) {
  .dashboard-body .dashboard-link-container {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  .dashboard-body
    .dashboard-link-container
    .dashboard-link-content
    .dashboard-link-list
    .dashboard-link-item
    .dashboard-link-item-content {
    flex-direction: column;
    align-items: flex-end;
  }

  .dashboard-body
    .dashboard-link-container
    .dashboard-link-content
    .dashboard-link-control
    .dashboard-link-control-item
    button {
    width: 80%;
  }

  .dashboard-body
    .dashboard-link-container
    .dashboard-link-content
    .dashboard-link-list
    .dashboard-link-item {
    width: 80%;
  }
}
