/* Dashboard Body */
.dashboard-body {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  width: 100%;
}

.notifications {
  text-align: center;
  margin-top: 20px;
}

.loading-spinner {
  margin-top: 40px;
}

.chakra-menu__item {
  cursor: pointer;
}

@media all and (max-width: 1440px) {
  .intro
    .intro-container
    .intro-content
    .intro-content-left
    .intro-content-item
    .intro-content-item-title
    h2 {
    font-size: 3.5em;
  }

  .faq .faq-container .faq-content {
    width: 80%;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-bottom
    .footer-content-item:nth-child(2) {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
  }

  .templates-container .templates-content .templates-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .dashboard-header
    .dashboard-header-container
    .dashboard-header-content
    .dashboard-header-right
    .dashboard-header-actions-menu {
    display: block;
  }

  .dashboard .dashboard-container .dashboard-content .dashboard-sidebar {
    display: none;
  }

  .dashboard
    .dashboard-container
    .dashboard-content
    .dashboard-header-body-wrapper {
    width: 100%;
  }

  .dashboard-body .dashboard-link-container {
    width: 65%;
  }

  .dashboard-body .dashboard-body-space-container {
    width: 35%;
  }

  .dashboard-appearance-container {
    padding: 0 15vw 0 5vw;
  }
}

@media all and (max-width: 1024px) {
  .header
    .header-container
    .header-content
    .header-left
    .header-left-content
    .header-left-content-item:not(:nth-child(1)) {
    display: none;
  }

  .header
    .header-container
    .header-content
    .header-right
    .header-right-content
    div:nth-child(1) {
    display: none;
  }

  .header
    .header-container
    .header-content
    .header-right
    .header-right-content
    div:nth-child(2) {
    display: none;
  }

  .header
    .header-container
    .header-content
    .header-right
    .header-right-content
    .header-menu-icon {
    display: block;
  }

  .intro
    .intro-container
    .intro-content
    .intro-content-left
    .intro-content-item:nth-child(1) {
    gap: 20px;
  }

  .intro-content-right {
    display: none !important;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-bottom
    .footer-content-item:nth-child(1)
    div
    h3 {
    font-size: 1.2em;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-bottom
    .footer-content-item:nth-child(1)
    div
    a {
    font-size: 1em;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-top
    .footer-content-item
    .footer-content-item-title
    h2 {
    font-size: 2.5em;
  }

  .templates-container .templates-content .templates-header h1 {
    font-size: 2.5em;
  }

  .templates-container .templates-content .templates-header p {
    font-size: 1.2em;
  }

  .templates-container .templates-content .templates-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .dashboard-body .dashboard-link-container {
    width: 100%;
  }

  .dashboard-space {
    display: none;
  }

  .dashboard-appearance-container {
    width: 100%;
    padding: 0 5vw;
  }

  .dashboard-account-container {
    width: 100%;
    padding: 0 5vw;
  }
}

@media all and (max-width: 768px) {
  .header .header-container .header-content .header-left {
    width: auto;
  }

  .header .header-container .header-content .header-right {
    width: 100%;
  }

  .header
    .header-container
    .header-content
    .header-left
    .header-left-content
    .header-left-content-item
    .header-logo
    h1 {
    font-size: 1.5em;
  }

  .intro
    .intro-container
    .intro-content
    .intro-content-left
    .intro-content-item
    .intro-content-item-title
    h2 {
    font-size: 2.5em;
  }

  .intro
    .intro-container
    .intro-content
    .intro-content-left
    .intro-content-item
    .intro-content-item-subtitle
    p {
    font-size: 1.2em;
  }

  .intro
    .intro-container
    .intro-content
    .intro-content-left
    .intro-content-item:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
  }

  .intro
    .intro-container
    .intro-content
    .intro-content-left
    .intro-content-item-button
    button {
    padding: 35px 25px;
    font-size: 0.8em;
  }

  .faq .faq-container .faq-content .faq-title h1 {
    font-size: 2.5em;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-bottom
    .footer-content-item:nth-child(1) {
    flex-direction: column;
    gap: 20px;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-top
    .footer-content-item:nth-child(2) {
    flex-direction: column;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-bottom
    .footer-content-item:nth-child(2)
    .footer-content-item-wrapper-register-login {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-top
    .footer-content-item
    .footer-content-item-title
    h2 {
    font-size: 2em;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-top
    .footer-content-item-button
    button {
    padding: 35px 35px;
    font-size: 0.8em;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-bottom
    .footer-content-item-wrapper {
    gap: 10px;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-bottom
    .footer-content-item:nth-child(1)
    div
    a {
    margin-top: 0;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-bottom
    .footer-content-item-links {
    flex-direction: row;
  }

  .register .register-container .register-content .register-title h1 {
    font-size: 2.5em;
  }

  .register .register-container .register-content .register-form form {
    width: 400px;
  }

  .login .login-container .login-content .login-form form {
    width: 400px;
  }

  .username-container .username-content .username-links .username-link-item {
    width: 420px;
  }

  .dashboard-body
    .dashboard-link-container
    .dashboard-link-content
    .dashboard-link-list
    .dashboard-link-item
    .dashboard-link-item-content {
    flex-direction: column;
    align-items: flex-end;
  }

  .dashboard-body
    .dashboard-link-container
    .dashboard-link-content
    .dashboard-link-control
    .dashboard-link-control-item
    button {
    width: 80%;
  }

  .dashboard-body
    .dashboard-link-container
    .dashboard-link-content
    .dashboard-link-list
    .dashboard-link-item {
    width: 80%;
  }

  .dashboard-account-container
    .dashboard-account-content
    .dashboard-account-info-body
    .dashboard-account-info-item
    .dashboard-account-info-username-email-wrapper {
    flex-direction: column;
  }
}

@media all and (max-width: 425px) {
  .intro .intro-container .intro-content {
    width: 90%;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-bottom
    .footer-content-item:nth-child(2)
    div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer
    .footer-container
    .footer-content
    .footer-content-bottom
    .footer-content-item:nth-child(2)
    div
    a {
    padding: 25px 25px;
    text-align: center;
    font-size: 0.8em;
  }

  .register .register-container .register-content .register-form form {
    width: 350px;
  }

  .login .login-container .login-content .login-form form {
    width: 350px;
  }

  .username-container .username-content .username-links .username-link-item {
    width: 320px;
  }

  .dashboard-appearance-container
    .dashboard-appearance-content
    .dashboard-appearance-body
    .appearance-setting
    .appearance-button-color
    .appearance-button-type-grid,
  .appearance-button-style-grid {
    grid-template-columns: 1fr;
  }

  .dashboard-header
    .dashboard-header-container
    .dashboard-header-content
    .dashboard-header-left
    .dashboard-header-title
    h1 {
    display: none;
  }
}

@media all and (max-width: 375px) {
  .register .register-container .register-content .register-form form {
    width: 300px;
  }

  .login .login-container .login-content .login-form form {
    width: 300px;
  }

  .username-container .username-content .username-links .username-link-item {
    width: 280px;
  }

  .dashboard-appearance-container
    .dashboard-appearance-content
    .dashboard-appearance-body
    .appearance-setting
    .appearance-background-color-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .dashboard-appearance-container
    .dashboard-appearance-content
    .dashboard-appearance-body
    .appearance-setting
    .appearance-button-c-picker-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .dashboard-appearance-container
    .dashboard-appearance-content
    .dashboard-appearance-body
    .appearance-setting
    .appearance-font-color-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
