/* Header */
.header {
  display: flex;
  height: 10vh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}

.header .header-container .header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header .header-container .header-content .header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-left: 2.5vw;
}

.header .header-container .header-content .header-left .header-left-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 40px;
}

.header
  .header-container
  .header-content
  .header-left
  .header-left-content
  .header-left-content-item {
  padding: 11px 16px;
}

.header
  .header-container
  .header-content
  .header-left
  .header-left-content
  .header-left-content-item
  a {
  text-decoration: none;
  color: inherit;
}

.header
  .header-container
  .header-content
  .header-left
  .header-left-content
  .header-left-content-item
  .header-logo
  h1 {
  font-family: "Poppins-Bold";
  font-size: 2em;
}

.header .header-container .header-content .header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-right: 2.5vw;
}

.header .header-container .header-content .header-right .header-right-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  .header-right-content-item {
  padding: 25px 50px;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  .header-right-content-item
  a {
  text-decoration: none;
  color: inherit;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  div:first-child {
  background-color: #1e2330;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  div:first-child:hover {
  background-color: #262c3b;
  transition: background-color 0.3s ease;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  div:last-child {
  background-color: #1e2330;
  border-radius: 999px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.header
  .header-container
  .header-content
  .header-right
  .header-right-content
  div:last-child:hover {
  background-color: #262c3b;
  transition: background-color 0.3s ease;
}

/* Home */
.intro {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  position: relative;
}

.intro .intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #254f1a;
  height: 100%;
  width: 100%;
}

.intro .intro-container .intro-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}

.intro .intro-container .intro-content .intro-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item
  .intro-content-item-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item
  .intro-content-item-title
  h2 {
  font-family: "Poppins-Bold";
  font-size: 4.5em;
  line-height: 1.2;
  color: #d2e823;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item
  .intro-content-item-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item
  .intro-content-item-subtitle
  p {
  font-family: "Poppins-Medium";
  font-size: 1.5em;
  color: #d2e823;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-top: 40px;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item-input
  input {
  width: 100%;
  height: 100%;
  padding: 25px 50px 25px 15px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
  border: none;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item-button {
  border-radius: 999px;
  padding: 25px 50px;
  background-color: #e9c0e9;
  color: #000000;
  cursor: pointer;
  font-size: 1em;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item-button:hover {
  background-color: #d8a3d8;
  transition: background-color 0.3s ease;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item-button
  a {
  text-decoration: none;
  color: inherit;
}

.intro .intro-container .intro-content .intro-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.faq .faq-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #780016;
}

.faq .faq-container .faq-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-align: center;
  width: 50%;
  color: #e9c0e9;
  padding: 64px 0;
}

.faq .faq-container .faq-content .faq-title h1 {
  font-family: "Poppins-Black";
  font-size: 3.5em;
  color: #e9c0e9;
}

.faq .faq-container .faq-content .faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.faq .faq-container .faq-content .faq-list .faq-item {
  padding: 48px;
  background-color: #52000f;
  border-radius: 32px;
  margin-bottom: 20px;
  border-bottom: 0;
  cursor: pointer;
}

.faq .faq-container .faq-content .faq-list .faq-item .faq-question {
  font-size: 1.5em;
  font-family: "Poppins-Medium";
  color: #e9c0e9;
  cursor: pointer;
}

.faq .faq-container .faq-content .faq-list .faq-item .faq-answer {
  font-size: 1.2em;
  font-family: "Poppins-Regular";
  color: #e9c0e9;
  text-align: left;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #4f2173;
}

.footer .footer-container .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 64px;
}

.footer .footer-container .footer-content .footer-content-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer
  .footer-container
  .footer-content
  .footer-content-top
  .footer-content-item:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin: 40px 0;
}

.footer
  .footer-container
  .footer-content
  .footer-content-top
  .footer-content-item
  .footer-content-item-title
  h2 {
  font-family: "Poppins-Black";
  font-size: 3.5em;
  color: #e9c0e9;
  text-align: center;
}

.footer
  .footer-container
  .footer-content
  .footer-content-top
  .footer-content-item-input
  input {
  width: 100%;
  height: 100%;
  padding: 25px 50px 25px 15px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
  border: none;
}

.footer
  .footer-container
  .footer-content
  .footer-content-top
  .footer-content-item-button {
  border-radius: 999px;
  padding: 25px 50px;
  background-color: #e9c0e9;
  color: #000000;
  cursor: pointer;
  font-size: 1em;
}

.footer
  .footer-container
  .footer-content
  .footer-content-left
  .footer-content-item-button:hover {
  background-color: #d8a3d8;
  transition: background-color 0.3s ease;
}

.intro
  .intro-container
  .intro-content
  .intro-content-left
  .intro-content-item-button
  a {
  text-decoration: none;
  color: inherit;
}

.footer
  .footer-container
  .footer-content
  .footer-content-top
  .footer-content-item-button:hover {
  background-color: #d8a3d8;
  transition: background-color 0.3s ease;
}

.footer .footer-container .footer-content .footer-content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
  background-color: #ffffff;
  padding-top: 64px;
  padding-bottom: 32px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5em;
  height: 100%;
  width: 80%;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(1)
  div {
  display: flex;
  flex-direction: column;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(1)
  div
  h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-family: "Poppins-Bold";
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(1)
  div
  a {
  font-family: "Poppins-Regular";
  font-size: 1.2em;
  margin: 10px 0;
  width: fit-content;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(1)
  div
  a:hover {
  text-decoration: underline;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  width: 80%;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(2)
  div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(2)
  div
  a {
  background-color: #1e2330;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  padding: 25px 50px;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(2)
  div:nth-child(1)
  a:nth-child(2) {
  border-radius: 999px;
}

.footer
  .footer-container
  .footer-content
  .footer-content-bottom
  .footer-content-item:nth-child(2)
  div:nth-child(2)
  a {
  border-radius: 999px;
  padding: 15px 20px;
  font-size: 1.5em;
}

/* Register */
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.register .register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.register .register-container .register-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 128px 0;
}

.register .register-container .register-content .register-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register .register-container .register-content .register-title h1 {
  font-family: "Poppins-Black";
  font-size: 3.5em;
  color: #780016;
}

.register .register-container .register-content .register-form {
  margin: 40px auto;
  width: 50%;
}

.register .register-container .register-content .register-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.register
  .register-container
  .register-content
  .register-form
  form
  .form-group {
  width: 100%;
}

.register
  .register-container
  .register-content
  .register-form
  form
  .form-group
  input {
  padding-top: 25px;
  padding-bottom: 25px;
}

.register
  .register-container
  .register-content
  .register-form
  form
  .button-container {
  width: 100%;
}

.register
  .register-container
  .register-content
  .register-form
  form
  .button-container
  button {
  width: 100%;
  background-color: #4f2173;
  border-radius: 999px;
  padding: 25px 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Poppins-Regular";
}

.register
  .register-container
  .register-content
  .register-form
  form
  .button-container
  button:hover {
  background-color: #5a2b8c;
  transition: background-color 0.3s ease;
}

.register .register-container .register-content .register-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register .register-container .register-content .register-footer a {
  text-decoration: underline;
  color: #780016;
  font-family: "Poppins-Regular";
}

/* Login */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login .login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.login .login-container .login-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 128px 0;
}

.login .login-container .login-content .login-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login .login-container .login-content .login-title h1 {
  font-family: "Poppins-Black";
  font-size: 3.5em;
  color: #780016;
}

.login .login-container .login-content .login-form {
  margin: 40px auto;
  width: 50%;
}

.login .login-container .login-content .login-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.login .login-container .login-content .login-form form .login-form-item {
  width: 100%;
}

.login .login-container .login-content .login-form form .login-form-item input {
  padding-top: 25px;
  padding-bottom: 25px;
}

.login .login-container .login-content .login-form form .button-container {
  width: 100%;
}

.login
  .login-container
  .login-content
  .login-form
  form
  .button-container
  button {
  width: 100%;
  background-color: #4f2173;
  border-radius: 999px;
  padding: 25px 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Poppins-Regular";
}

.login
  .login-container
  .login-content
  .login-form
  form
  .button-container
  button:hover {
  background-color: #5a2b8c;
  transition: background-color 0.3s ease;
}

.login .login-container .login-content .login-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login .login-container .login-content .login-footer a {
  text-decoration: underline;
  color: #780016;
  font-family: "Poppins-Regular";
}

/* Dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f3f3f1;
}

.dashboard .dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dashboard .dashboard-container .dashboard-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dashboard .dashboard-container .dashboard-content .dashboard-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 12%;
  background-color: #ffffff;
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.dashboard
  .dashboard-container
  .dashboard-content
  .dashboard-header-body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 88%;
  margin-left: auto;
}

/* Dashboard Header */
.dashboard-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  background-color: #f3f3f1;
  position: sticky;
  top: 0;
  z-index: 100;
}

.dashboard-header .dashboard-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dashboard-header .dashboard-header-container .dashboard-header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 2.5vw;
}

.dashboard-header
  .dashboard-header-container
  .dashboard-header-content
  .dashboard-header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
}

.dashboard-header
  .dashboard-header-container
  .dashboard-header-content
  .dashboard-header-left
  .dashboard-header-title
  h1 {
  font-family: "Poppins-Medium";
  font-size: 1.5em;
}

.dashboard-header
  .dashboard-header-container
  .dashboard-header-content
  .dashboard-header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 50%;
}

.dashboard-header
  .dashboard-header-container
  .dashboard-header-content
  .dashboard-header-right
  .dashboard-header-profile
  button {
  font-family: "Poppins-Medium";
  font-size: 1em;
  background-color: #ffffff;
  border-radius: 12px;
}

/* Dashboard Sidebar */
.dashboard-sidebar .dashboard-sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0 1.5vw;
  background-color: #ededeb;
}

.dashboard-sidebar .dashboard-sidebar-container .dashboard-sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dashboard-sidebar
  .dashboard-sidebar-container
  .dashboard-sidebar-content
  .dashboard-sidebar-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.dashboard-sidebar
  .dashboard-sidebar-container
  .dashboard-sidebar-content
  .dashboard-sidebar-title
  h1 {
  font-family: "Poppins-Bold";
  font-size: 2em;
}

.dashboard-sidebar
  .dashboard-sidebar-container
  .dashboard-sidebar-content
  .dashboard-sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 90vh;
  width: 100%;
}

.dashboard-sidebar
  .dashboard-sidebar-container
  .dashboard-sidebar-content
  .dashboard-sidebar-menu
  .dashboard-sidebar-menu-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  width: 100%;
}

.dashboard-sidebar
  .dashboard-sidebar-container
  .dashboard-sidebar-content
  .dashboard-sidebar-menu
  .dashboard-sidebar-menu-item
  a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  padding: 10px 15px;
  width: 100%;
  border-radius: 12px;
}

.dashboard-sidebar
  .dashboard-sidebar-container
  .dashboard-sidebar-content
  .dashboard-sidebar-menu
  .dashboard-sidebar-menu-item
  a:hover {
  background-color: #d9d9d7;
  transition: background-color 0.3s ease;
}

.active {
  background-color: #d9d9d7;
}

/* Dashboard Body */
.dashboard-body {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  width: 100%;
}

.dashboard-body .dashboard-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: 100%;
  min-height: 90vh;
  margin-right: auto;
  padding: 0 2.5vw;
}

.dashboard-body .dashboard-link-container .dashboard-link-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-control {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-control
  .dashboard-link-control-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-control
  .dashboard-link-control-item
  button {
  width: 55%;
  background-color: #4f2173;
  border-radius: 999px;
  padding: 25px 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-control
  .dashboard-link-control-item
  button:hover {
  background-color: #5a2b8c;
  transition: background-color 0.3s ease;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px 32px;
  margin-bottom: 20px;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item
  .dashboard-link-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item
  .dashboard-link-item-content
  .dashboard-link-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item
  .dashboard-link-item-content
  .dashboard-link-item-info
  h3 {
  margin-bottom: 10px;
  font-family: "Poppins-Bold";
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item
  .dashboard-link-item-content
  .dashboard-link-item-info
  a {
  font-family: "Poppins-Regular";
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item
  .dashboard-link-item-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.dashboard-body
  .dashboard-link-container
  .dashboard-link-content
  .dashboard-link-list
  .dashboard-link-item
  .dashboard-link-item-actions
  button {
  border-radius: 999px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  padding: 0 12px;
}

.dashboard-body .dashboard-body-space-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-left: auto;
  box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 0;
  height: calc(100% - 10vh);
}

.dashboard-body .dashboard-body-space-container .dashboard-body-space-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  min-height: 75%;
  margin: auto;
  background-color: #080808;
  border-radius: 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.dashboard-body
  .dashboard-body-space-container
  .dashboard-body-space-content
  .dashboard-body-space-header {
  margin: 40px 0 20px 0;
}

.dashboard-body
  .dashboard-body-space-container
  .dashboard-body-space-content
  .dashboard-body-space-header
  .profile-banner {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 999px;
  width: 72px;
  height: 72px;
  font-size: 1.5em;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-body
  .dashboard-body-space-container
  .dashboard-body-space-content
  .dashboard-body-space-header
  h1 {
  font-family: "Poppins-Bold";
  font-size: 14px;
  color: #ead8c2;
}

.dashboard-body
  .dashboard-body-space-container
  .dashboard-body-space-content
  .dashboard-body-space-link-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dashboard-body
  .dashboard-body-space-container
  .dashboard-body-space-content
  .dashboard-body-space-link-items
  .dashboard-space-link-item {
  color: #ead8c2;
  font-family: "Poppins-Regular";
  border: 1px solid #ead8c2;
  padding: 16px 44px;
  width: 75%;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}

.dashboard-body
  .dashboard-body-space-container
  .dashboard-body-space-content
  .dashboard-body-space-link-items
  .dashboard-space-link-item:hover {
  background-color: #ead8c2;
  color: #080808;
  transition: background-color 0.3s ease;
}

.dashboard-body
  .dashboard-body-space-container
  .dashboard-body-space-content
  .dashboard-body-space-link-items
  .dashboard-space-link-item
  a {
  width: 100%;
  display: inline-block;
}

.dashboard-body .dashboard-body-space-container .dashboard-body-space-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.dashboard-body
  .dashboard-body-space-container
  .dashboard-body-space-link
  .dashboard-body-space-link-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Poppins-Regular";
}

.loading-spinner {
  margin-top: 40px;
}

.chakra-menu__item {
  cursor: pointer;
}

/* Userboard */
.username-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #080808;
}

.username-container .username-panel-header {
  height: 52px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1e2330;
  padding: 0 2.5vw;
}

.username-container .username-panel-header .username-panel-title {
  font-family: "Poppins-Bold";
  font-size: 1em;
  color: #ffffff;
}

.username-container .username-panel-header .username-panel-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 999px;
  padding: 8px 16px;
}

.username-container .username-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 64px 0;
}

.username-container .username-content .username-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.username-container .username-content .username-header .username-banner {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 999px;
  width: 96px;
  height: 96px;
  font-size: 1.75em;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username-container .username-content .username-header .username-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  font-family: "Poppins-Bold";
  color: #ead8c2;
  margin-bottom: 20px;
}

.username-container .username-content .username-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.username-container .username-content .username-links .username-link-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Poppins-Regular";
  font-size: 14px;
  color: #ead8c2;
  border: 2px solid #ead8c2;
  padding: 24px 44px;
  width: 33%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  min-height: 64px;
}

.username-container .username-content .username-links .username-link-item a {
  width: 100%;
  display: inline-block;
}

.username-container
  .username-content
  .username-links
  .username-link-item:hover {
  background-color: #ead8c2;
  color: #080808;
  transition: background-color 0.3s ease;
}

.username-container .username-content .username-footer {
  font-family: Inter, sans-serif;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
  text-align: center;
  padding: 16px;
  border-radius: 999px;
  margin-top: 20px;
  cursor: pointer;
}

.username-container .username-content .username-footer:hover {
  background-color: rgb(255, 255, 255, 1);
  transition: background-color 0.3s ease;
}

.username-container .username-content .username-footer a {
  text-decoration: none;
  color: inherit;
  font-family: "Poppins-Semibold";
  font-size: 16px;
}
